div{
    display: block;
}
mat-card{
    margin: 0 auto;
    width: 50%;
    margin-top: 40px;
}
/*input{
    width: 1000px;
}*/
mat-form-field{
    width: 100%;
    
}
#saveBtn{
    float: right;
    font-weight: bold;
     /*background-color: #3F51B5;
    color: white;*/
}
mat-card>.mat-card-actions:last-child {
    margin-bottom: -16px;
    padding-bottom: 35px;
}
