div{
    display: block;
}
mat-card{
    margin: 0 auto;
    width: 80%;
    /*margin-top: 40px;*/
}
/*input{
    width: 1000px;
}*/
mat-form-field{
    width: 350px;
    
}
button{
    float: right;
}
mat-card>.mat-card-actions:last-child {
    margin-bottom: -16px;
    padding-bottom: 35px;
}
