<!--<div>
<mat-card>
  <mat-card-title>SignIn</mat-card-title>
  <mat-card-content>

  </mat-card-content>
  <mat-card-actions>

  </mat-card-actions>
  
</mat-card>
</div>-->


<div>
      <form [formGroup]='signInForm' (ngSubmit)='signIn(signInForm.value)'>   
  <mat-card>
    <mat-card-title>SignIn</mat-card-title>
    <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput type="email"  placeholder="Email" formControlName='email'>
          </mat-form-field>
        
        
            <mat-form-field class="example-full-width">
              <input matInput type="password"  placeholder="password" formControlName='password'>
            </mat-form-field>
            <p ><a routerLink="/SignUp">Don't have an account create one</a></p>
    </mat-card-content>
    <mat-card-actions>
      <button color="primary" mat-raised-button [disabled]='!signInForm.valid'>Sign In</button>
      <!--<button *ngIf='' mat-raised-button >Sign In</button>-->
      
      
    </mat-card-actions>
    
  </mat-card>
      </form>
  
</div>